body
{
	font-family: Georgia;
	margin-left: 3em;
}

@font-face {
	font-family: JuliaMono-Regular;
	src: url("https://cormullion.github.io/assets/fonts/JuliaMono-Regular.woff2");
}

@font-face {
	font-family: JuliaMono-Medium;
	src: url("https://cormullion.github.io/assets/fonts/JuliaMono-Medium.woff2");
}

@font-face {
	font-family: JuliaMono-Bold;
	src: url("https://cormullion.github.io/assets/fonts/JuliaMono-Bold.woff2");
}

@font-face {
	font-family: JuliaMono-ExtraBold;
	src: url("https://cormullion.github.io/assets/fonts/JuliaMono-ExtraBold.woff2");
}

@font-face {
	font-family: JuliaMono-Black;
	src: url("https://cormullion.github.io/assets/fonts/JuliaMono-Black.woff2");
}

/*text-rendering: auto !important;*/
/*text-rendering: optimizeSpeed !important;*/
/*text-rendering: optimizeLegibility !important;*/


pre, code, tt {
	font-family: "JuliaMono-Regular" !important;
	text-rendering: geometricPrecision !important;
		/*
		liga = standard ligatures (eg fi)
	  calt = contextual alternates (eg - > == -> )
		zero = slashed zero
		ss01 = school g
		ss02 = circular @
		ss03 = simple j
		font-feature-settings: "liga", "calt", "zero", "ss01", "ss02", "ss03";

		to disable contextual alternates:
		font-feature-settings: "calt" off;
		*/
}

nav { font-family: "Open Sans", "Fira Sans", "Lucida Sans", sans-serif; }

h1, h2, h3
{
	font-family: "Open Sans", "Fira Sans", "Lucida Sans", sans-serif;
	font-weight: 800;
}

.franklin-content
{
	font-family: Georgia;
	font-size: 1.1rem;
}

/* footnotes */
.franklin-content table.fndef
{
	margin: 0;
	margin-bottom: 10px;
}

.franklin-content .fndef tr, td
{
	padding: 0;
	border: 0;
	text-align: left;
}

.franklin-content .fndef tr { border-left: 2px solid lightgray; }

.franklin-content .fndef td.fndef-backref
{
	vertical-align: top;
	padding-left: 5px;
}

.franklin-content .fndef td.fndef-content
{
	font-family: Georgia;
	padding-left: 10px;
}

.franklin-content img
{
	width: auto !important;
	max-width: 95% !important;
	text-align: center !important;
	padding: 1em;
}

.franklin-content .img-small img { text-align: center; }

.franklin-content blockquote
{
	background: #f2c3e9;
	border-left: 12px solid #d755c7;
	margin: 1.5em 10px;
	padding: .5em 10px;
	font-style: italic;
}

code {
	background-color: #eee;
}

code.language-julia.hljs {
	background-color: #232;
	width: 900px;
	color: #ddd;
	font-size: 0.9em !important;
	font-weight: normal;
	line-height: 1.3;
	/* overflow: auto; */
	page-break-inside: avoid;
	text-wrap: unrestricted;
	/* Mozilla, since 1999 */
	/* Opera 7 */
	/* Opera 4-6 */
	white-space: pre-wrap;
	/* css-3 */
	word-wrap: break-word;
	/* Internet Explorer 5.5+ */
	border: none;
}

.hljs-keyword {
	font-family: JuliaMono-Bold;
	color: #de8025;
}

.hljs-string {
	font-family: JuliaMono-Regular;
	color: #f6f1cd;
}

.hljs-number {
	font-family: JuliaMono-Regular;
	color: rgb(246, 204, 116);
}

.hljs-literal {
	font-family: JuliaMono-Regular;
	color: #eaf9ba;
}

.hljs-meta {
	font-family: JuliaMono-Regular;
	color: #fef;
}

.hljs-variable {
	font-family: JuliaMono-Regular;
	color: #ddd;
}

.hljs-subst {
	color: #ccc;
}

.hljs-built_in {
	color: #ededed;
}

.language-bash-script  pre { border-left: 4px solid #008800; }

#menu1
{
	margin-top: 50px;
	float: left;
	width: 15%;
	text-align: right;
	font-family: "Open Sans", "Fira Sans", "Lucida Sans", sans-serif;
}

#main { float: left; }

@media (max-width: 1200px)
{
	#menu1
	{
		width: 100%;
		margin-top: 75px;
		margin-bottom: 25px;
	}

	#menu1 li
	{
		display: inline-block;
		line-height: 30px;
	}

	#main { width: 100%; }
}

@media (min-width: 980px)
{
	.franklin-content
	{
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
}

#menu1 ul
{
	text-align: center;
	margin: 0;
	padding: 0;
}

#menu1 ul li
{
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
}

#menu1 ul li a
{
	color: #111;
	text-decoration: none;
	position: relative;
	padding: 10px 10px;
}

#menu1 ul li a:after
{
	content: "";
	position: absolute;
	height: 2px;
	bottom: 7px;
	left: 10px;
	right: 10px;
	background-color: rgba(17, 17, 17, 0.7);
	visibility: hidden;
	transform: scaleX(0);
	transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#menu1 ul li a:hover { text-decoration: none; }

#menu1 ul li a:hover:after
{
	visibility: visible;
	transform: scaleX(1);
}

#menu1
{
	margin-top: 50px;
	float: left;
	width: 15%;
	text-align: right;
	font-family: "Open Sans", "Fira Sans", "Lucida Sans", sans-serif;
}

#main { float: left; }
.franklin-content { padding-left: 10%; }
.franklin-content { padding-right: 5%; }

@media (max-width: 940px)
{
	#menu1
	{
		width: 100%;
		margin-top: 75px;
		margin-bottom: 25px;
	}

	#menu1 li
	{
		display: inline-block;
		line-height: 30px;
	}

	#main { width: 100%; }
}

@media (min-width: 940px)
{
	.franklin-content
	{
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}

#menu1 ul
{
	text-align: center;
	margin: 0;
	padding: 0;
}

#menu1 ul li
{
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
}

#menu1 ul li a
{
	color: #111;
	text-decoration: none;
	position: relative;
	padding: 10px 10px;
}

#menu1 ul li a:after
{
	content: "";
	position: absolute;
	height: 2px;
	bottom: 7px;
	left: 10px;
	right: 10px;
	background-color: rgba(17, 17, 17, 0.7);
	visibility: hidden;
	transform: scaleX(0);
	transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#menu1 ul li a:hover { text-decoration: none; }

#menu1 ul li a:hover:after
{
	visibility: visible;
	transform: scaleX(1);
}
