<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/infra/favicon.png">

    {{if hasmath}} {{insert head_katex.html }}   {{end}}
    {{if hascode}} {{insert head_highlight.html }}   {{end}}

    <script src="/libs/vela/jquery.min.js"></script>

    <link href="/css/vela.css" rel="stylesheet">
    <link href="/css/franklin.css" rel="stylesheet">
    <link href="/css/cormullionblog.css" rel="stylesheet">

    {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
  <div class="main-nav" id="menu">
    <div class="flex-container">
      <span class="sidebar-brand">
        <h3 style='font-size: 25px'>cormullion’s blog</h3>
      </span>
    </div> <!-- class="flex-container" -->
    <nav class="sidebar-nav">
       <ul class="metismenu"  id="metismenu" >
        <li><a href="/">Home</a></li>
        <li><a href="pages/2020-02-13-mauve">Mauve</a></li>
        <li><a href="pages/2019-06-23-slackmojif">Slackmojif</a></li>
        <li><a href="pages/2019-04-03-pentachoron">Pentachoron</a></li>
        <li><a href="pages/2019-03-13-piday">π day</a></li>
        <li><a href="pages/2018-11-29-automata">Automata</a></li>
        <li><a href="pages/2018-10-11-noise">Noise</a></li>
        <li><a href="pages/2018-08-10-guilloches">Guilloches</a></li>
        <li><a href="pages/2018-08-02-infographic">Infographic</a></li>
        <li><a href="pages/2018-06-20-bezier">Bézier Moi</a></li>
        <li><a href="pages/2018-05-05-string">String</a></li>
        <li><a href="pages/2018-03-14-some-piography">Some π-ography</a></li>
        <li><a href="pages/2015-06-02-pluto">Pluto</a></li>
      </ul>
    </nav>
  </div> <!-- main nav menu -->

  <main id="panel">
    <div class="toggle-button hamburger hamburger--spin">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
    <h1 class="page title">{{isdef title}}{{fill title}}{{end}}</h1>


<!-- Content appended here -->
